*{
    font-family: "Lucida Console", "Courier New", monospace;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: left;
}
h2{
    background-color: rgba(255, 255, 255, 0.72);
    display: flex;
    width: 410px;
    align-items: center;
    justify-content: center;
}
.signupForm{
    display: flex;
    align-items: left;
    justify-content: left;
}
.Login{
    background-image: url("https://images.pexels.com/photos/7078227/pexels-photo-7078227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 6000px;
    height: 4000px;
}