* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 90vh;
}

.card-container {
  display: flex;
  margin: 5px;
  width: 1000px;
  height: 450px;
}

.image {
  height: 70%;
  padding: 5px;
}
button {
  border-radius: 20px;
  padding: 5px;   
  margin-left: 20px;
  font-size: 18px;
}
p{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  max-width: 50%;
}
